@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Создание нового клиента</p>
<form method='post'>
    <label>Имя клиента:</label><br />
    <input class="Input" type="text" name='name' /><br />

    <label>Пароль:</label><br />
    <input class="Input" type="text" name='password' /><br />
    <button class="Button" type='submit' name="action" value="CreateUser">Создать пользователя</button>
</form>
