@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Такой пользователь уже существует или введены не корректные данные</p>
<form method="post">
    <button class = "Button" type='submit' name="action" value="CreateUser">Попробовать еще</button>
</form>
