@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Строки пароля и имени пользователя не должны быть пустыми</p>
<form method="post">
    <button class="Button" type='submit' name="action" value="Login">Вернуться к регистрации</button>
</form>
