@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Вход в систему</p>
<form method='post'>
    <label>Имя клиента:</label><br />
    <input type="text" name='name' /><br />

    <label>Пароль:</label><br />
    <input type="text" name='password' /><br />
    <button class="Button" type='submit' name="action" value="Login">Войти</button>
    <button class="Button" type='submit' name="action" value="CreateUser">Создать нового пользователя</button>
</form>

