@{
    Layout = "~/Views/_Layout.cshtml";
}
<p>Такого пользователя не существует</p>
<form method="post">
    <button class="Button" type='submit' name="action" value="CreateUser">Создать нового пользователя</button>
    <button class="Button" type='submit' name="action" value="Login">Попробовать войти еще раз</button>
</form>


