@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="Text">
    <p>Вы находитесь на сайте компании занимающейся стрижкой животных.</p>
    <p>В настоящий момент момент стрижку можно заказать для собак и кошек. 
        Зарегистрируйтесь в личном кабинете, чтобы записаться на прием, 
        а так же получить доступ к своим заказам.</p>
</div>

