@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Вы ввели некоректную дату или телефон</p>
<form method="post">
    <button class="Button" type='submit' name="action" value="StepOne">Вернуться к созданию заказа</button>
</form>
