@{
    Layout = "~/Views/_Layout.cshtml";
}
@model List<string>

<p>Шаг один</p>
<p>Введите желаемую дату Ваш номер телефона и разновидность животного</p>
<p>Убедительная просьба обратить внимание, запись производится за день, до желаемой процедуры стрижки</p>
<form method='post'>
    <label>Дата и время:</label><br />
    <input class="Date" type="date" name="date" /><br />

    <label>Телефон:</label><br />
    <input class ="Input" type="tel" name='phone' /><br />

    <label for="kindOfAnimal">Разновидность животного:</label>
    <select class="Input" name="kindOfAnimal">
        @foreach (string kindOfAnimal in Model)
        {
            <option  value=@kindOfAnimal>@kindOfAnimal</option>
        }
    </select>
    <button class="Button" type='submit'>Отправить запрос</button>
</form>
