@{
    Layout = "~/Views/_Layout.cshtml";
}
@model List<TimeOnly>

<p>Шаг два</p>
<p>Введенное время: @ViewData["date"]</p>
<p>Введенный телефон: @ViewData["phone"]</p>
<p>Введенная разновидность животного: @ViewData["kindOfAnimal"]</p>

<form method='post'>
    <label for="time">Выберите время:</label>
    <select class="Input" input type="text" name="time">
        @foreach (var breed in Model)
        {
            <option value=@breed>@breed</option>
        }
    </select>
    <button class="Button" type='submit'>Отправить запрос</button>
</form>
