@{
    Layout = "~/Views/_Layout.cshtml";
}

<p>Вы не указали имя животного</p>
<form method="post">
    <button class="Button" type='submit' name="action" value="StepThree">Вернуться к созданию заказа</button>
</form>
