<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Вы ввели некоректную дату или телефон</h2>
    <form method="post">
        <button type='submit' name="action" value="StepOne">Вернуться к созданию заказа</button>
    </form>
</body>
</html>