<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Доступ к этой странице только для авторизованных пользователей</h2>
    <form method="post">
        <button type='submit' name="action" value="Login">Войти в личный кабинет</button>
        <button type='submit' name="action" value="Home">Вернуться на домашнюю страницу</button>
    </form>
</body>
</html>
