@{
    Layout = "~/Views/_Layout.cshtml";
}
<div class="Text">
    <p>Данный сайт создан для подтверждения технических навыков Суханова Максима Валерьевича.</p>
    <p>В настоящий момент я нахожусь в активном поиске работы в сфере Backend разработки.</p>
    <p>Для создания данного сайта, а так же для разворачивания сервера на домашнем компютере, 
        были применены языки программирования C#, CSS, JS, базы данных PostgreSQL, 
        а так же следующий ряд инструментов разработчика: ASP.NET Core, Npgsql, NUnit
        Framework, nginx, Git.
    </p>
    <p>Исходный код проекта находится в репозитории GitHub: 
        <a href="https://github.com/mvsukhanov/animalHairdresser">ссылка</a>.</p>
    <p>Помимо этого я обладаю базовыми знаниями языков программирования C++, Python и JS.</p>
    <p>Если Вы работодатель, которого заинтересовали мои навыки звоните:</p> <p>+7 (919) 585-63-18</p>
</div>

